RewriteEngine On

# Permite /api/register, /api/login, /api/verify-token sin .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^register/?$ register.php [L,QSA]
RewriteRule ^login/?$ login.php [L,QSA]
RewriteRule ^verify-token/?$ verify-token.php [L,QSA]
RewriteRule ^upload-media/?$ upload-media.php [L,QSA]

# Opciones de seguridad
Options -Indexes
